USE [Billing]
GO
/****** Object:  StoredProcedure [dbo].[bi_ElectronicReceipt_Update]    Script Date: 19/06/2025 12:34:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[bi_ElectronicReceipt_Update]
	@id INT,
	@acceptedBySunat BIT,
	@sunatDescription VARCHAR(200) = NULL,
	@errorMessage VARCHAR(200) = NULL,
    @cdrTicketNumber VARCHAR(50) = NULL,
	@cdrLink VARCHAR(100) = NULL
AS

DECLARE @numberResends INT

SELECT @numberResends = ISNULL(numberResends, 0) FROM ElectronicReceipt WHERE id = @id

SET @numberResends = @numberResends + 1

UPDATE ElectronicReceipt SET
	acceptedBySunat = @acceptedBySunat,
	sunatDescription = @sunatDescription,
	errorMessage = @errorMessage,
	cdrTicketNumber = @cdrTicketNumber,
	updateDate = GETDATE(),
	numberResends = @numberResends,
	cdrLink = @cdrLink,
	resend = IIF(@acceptedBySunat = 1, 0, resend)
WHERE id = @id